[2018-09-27 21:47] pablojimpas opened #1 "Translation to other languages"
How will you manage localization of the app? Will it be translated by the community or by the team at Microsoft?
If you want I could open a pull request with the Spanish translation.

[2018-09-28 16:08] kikisaints commented on #1
I think a community led localization might be faster so I don't see why not! All our localization string [files are here](https://github.com/Microsoft/fluent-xaml-theme-editor/tree/master/FluentEditor/Resources/en-us).

[2018-10-03 13:50] pablojimpas commented on #1
I've created a PR for the Spanish translation but I think we could leave this issue open for more languages, I'm going to edit the original issue to inclue a list with the localization status of most common languages. 😉

[2018-10-03 14:51] mrlacey opened #3 "Why the current, multi-project, architecture?"
Why is there a shared project and a main app project?
The code in the shared project seems very specific to the FXTE.
Also, it's not shared with anything else. Is this an indication that there may be other, related projects added to the solution or is it just a historical artifact?
If a historical artifact, would suggestions for simplifying/rationalizing the code be welcome?

[2018-10-03 23:16] kikisaints commented on #3
The FluentEditorShared folder is a library that our design team uses and parts of it are called by the main FluentEditor solution. Things like an RGB to HSV converter and contrast ratio checker functions are among the ones I know of that are being used.

[2018-10-04 11:19] mrlacey commented on #3
@kikisaints thanks for the input on the other use of the library. I won't suggest any changes there then. ;)

[2018-10-04 11:19] #3 closed

[2018-10-08 22:03] kikisaints commented on #1
Thanks everyone! We have three languages in so far 💯

[2018-10-09 13:09] lhak opened #6 "Color scheme is not applied to all elements"
The selected color scheme is not applied to all elements, e.g. the selected combobox item always uses the system accent color.

[2018-10-09 16:43] pablojimpas commented on #6
I can reproduce it. I've seen this issue in some areas of ComboBox, TextBox, CalendarView, DatePicker and TimePicker.
This issue is happening both in dark and light themes, maybe is a SDK related issue due to how color properties are set UI controls.

Some screenshots:
![1](https://user-images.githubusercontent.com/17835916/46684212-74fc0e00-cbf2-11e8-88b1-bb659ee5c4ef.png)
![2](https://user-image

[2018-10-09 20:29] kikisaints commented on #6
It's actually not an issue with the editor, so much as it is with where we insert popups in the visual tree.

In this app, the ColorPaletteResources API also allows you to scope color resources to a container or element's resource scope. Meaning in the case of the editor, we're scoping all your chosen theme colors to the two main areas (in red/green lines below):

![image](https://user-images.gith

[2018-10-09 21:00] ghost opened #8 "Distribution through the Microsoft Store"
I just want to know if there is any plan of taking this tool to the Microsoft Store, I think it will be a thing _nice to have_ to improve discoverability and ease of use although there's no hurry.
What do you think?

[2018-10-09 21:28] mdtauk commented on #8
Once it is fully working, putting it in the store is the best option

[2018-10-09 22:02] lhak commented on #6
Thank you very much for the detailed explanation. I still think that the items of the combox visually should have the same look as the combox itself. Otherwise, this leads to a really inconsistent look as can already be seen in the editor app.

I also tried to define the accent color in App.xaml but this does not change the color of the selected combobox item (it is still the system accent color).

[2018-10-09 22:59] kikisaints commented on #8
Yes! I'm working on an app submission to the store! It will come, don't worry 👍

[2018-10-09 23:00] kikisaints commented on #6
Hmm, I'll see what I can do about the editor - but as far as your issue with the accent color not working in App.xaml, could you provide your code + markup? I'll take a look.

[2018-10-10 08:06] lhak commented on #6
To reproduce the issue create a new universal project  (SDK 17763 and running on Windows 17763). Then change these files accordingly:

App.xaml:

`<Application
    x:Class="AccentColorTest.App"
    xmlns="http://schemas.microsoft.com/winfx/2006/xaml/presentation"
    xmlns:x="http://schemas.microsoft.com/winfx/2006/xaml"
    xmlns:local="using:AccentColorTest">
	<Application.Resources>
		<Resource

[2018-10-10 12:43] mdtauk commented on #6
You don't seem to have copied the XAML that the tool produces.  Also it needs to be running on the 1809 release.

I see none of the **ColorPaletteResources** entries.

Here is an example of the full output you need to include in the App.xaml
`
<ResourceDictionary.ThemeDictionaries>
    <ResourceDictionary x:Key="Default">
        <ResourceDictionary.MergedDictionaries>
            <ColorPaletteRes

[2018-10-10 15:23] lhak commented on #6
Adding your code instead of just setting the accent color resource has the same effect: The combobox item and the toggle switch (if the WinUI library is used) still use the default system accent color.

[2018-10-10 17:13] kikisaints commented on #6
Ah I see what's going on. ComboBox's list items take system-generated (from the user) colors instead of using a variation on the accent color like most of the other controls do.

I'll look into having the editor accomodate these colors, but for the time being @lhak you should be able to do something like this:
[code]

[2018-10-10 17:35] lhak commented on #6
Thank you, this fixes the issue with the combobox. However, toggle switches still show the system accent color when the WinUI library is added to app.xaml.

[2018-10-10 17:59] kikisaints commented on #6
Apologies if I'm being rather pedantic, but I need to double check. The following code does not show you the correct accent color?

[code]

[2018-10-10 18:30] lhak commented on #6
It does show the right accent color. However, following the WinUI documentation, I changed the code to look like this:

[code]

Adding the additional line causes the toggle switch accent color issue:

- Switched on and pointer not over the control: Reverts to system accent color

- Switched on and pointer over the control: Shows the custom accent color

Another control that shows this issue is the

[2018-10-10 18:36] hansmbakker opened #10 "Description for colors"
It would be helpful to have a description for the color headings (Region, Base, Primary) to better explain their function. A "more information" button could be an example.

[2018-10-10 19:03] kikisaints commented on #10
I'll look into that! In the meantime you can check out the brief descriptions on our [blog post here](https://blogs.windows.com/buildingapps/2018/10/10/fluent-xaml-theme-editor-preview-released/) in the "How to use" section.

[2018-10-12 19:13] lhak opened #11 "All generated colors are opaque"
All color values generated by the tool have an alpha value of 255, compared to the default system colors that are partially transparent. This creates issues for example for the NavigationView if transparency effects are disabled (the pointer over effect is not visible with a color scheme exported by the tool).

[2018-10-12 21:34] mdtauk commented on #11
The default colours use a base colour be it Chrome or Alt etc and these vary in opacity to distinguish from each other.

The tool replaces those with shades of opaque colours derived from your chosen base colour with white or black added to create shades to distinguish them.

If is extra effort of course, but it would be nice to have a checkmark option set to Opaque by default which would switch b

[2018-10-12 23:23] kikisaints commented on #11
It does support alpha, in the same way that an 8 character color hex code does. The properties on ColorPaletteResources are Colors, so it doesn't have the notion of opacity (like our SystemBrushes do).

This means that any System**Brushes** with opacities set on them will _not_ get overwritten when you use the generated theme. But any System**Colors** that would have previously had alphas defined

[2018-10-13 01:28] mdtauk commented on #11
Having an opacity option would make it easier to create tweaked versions of the Light and Dark themes, where the Blacks and Whites are not pure #FFF and #000

[2018-10-13 11:04] lhak commented on #11
To reproduce the issue you can use the default color scheme exported by the editor and the following markup:

[code]

After disabling transparency effects in the windows color settings, the pointer over effect of the navigation menu items is gone. Without the exported color scheme, the pointer over effect is shown.

[2018-10-15 18:34] touseefbsb commented on #11
so does that mean it cannot support acrylic?

[2018-10-15 19:37] kikisaints commented on #11
Acrylic colors are not an attached property on ColorPaletteResources, but all of our default AcrylicBrushes draw from three SystemColors: SystemAccentColor, SystemChromeAlteMediumHighColor, and SystemChromeAltHighColor.

Accent color is already covered in the API, but if you put any of other two definitions within the ColorPaletteResources' tag, like this:
[code]
You will overwrite the system defa

[2018-10-15 21:27] touseefbsb commented on #11
Question : Why are these 2 colors not being generated by the theme editor, any specific reason for that?

[2018-10-15 22:15] kikisaints commented on #11
Partly because there is some ambiguity between whether or not an AcrylicBrush's coloring system falls into the category of "Primary" or "Base", in terms of the editor's capabilities. And partly because of an oversight 😅

Feel free to open a separate issue on this editor for that request.

[2018-10-16 00:39] touseefbsb commented on #6
@kikisaints  I just noticed there is an updated version of of winui on nuget ( **2.0.181011001** ) any idea what improvements have been in this update? any breaking changes? or is it safe to upgrade.

[2018-10-16 00:44] touseefbsb opened #12 "Support for acrylic Brush"
## Feature Request

Support for built in **ThemeResources** based **AcrylicBrush**, both the in-app acrylic and the window-acrylic ( when you window of your app is transparent to other apps ). Since the theme editor only deals with dark and light theme resources, I think custom acrylic doesn't make any sense here ( correct me if I am wrong ).

[2018-10-16 01:04] touseefbsb opened #13 "Support for more than 2 themes"
## Feature Request

Currently theme editor offers 2 themes ( Light/Dark ) which basically overrides the System defined light and dark themes.

But what if another optional feature can be added to it, where the developer can basically generate a **List of themes**? Each theme with exactly the same editing features as dark and light but developer can create multiple flavors of their app, considering

[2018-10-16 09:59] mdtauk commented on #12
The AcrylicBrushes are tinted in either White or Black to match the Light or Dark themes.  If the Region colour is not White or Black, then the AcrylicBrush should match in both its Active and Inactive states (the fallback colour)

[2018-10-16 10:03] mdtauk commented on #13
The ThemeResources that control the usage of the colour themes generated by this tool, use the built in Light and Dark themes.  If you wanted to override both light and dark with a custom theme you would need to "inject" the XAML into the App.xaml file as both Light and Dark.  At that point you will need some kind of helper or boilerplate code for the app its child windows, and the settings screen

[2018-10-16 12:16] kikisaints commented on #6
It should be safe to upgrade, I made that bump yesterday. It appears to also have fixed the accent color issue that you encountered and described here too.

[2018-10-16 15:45] touseefbsb commented on #12
yes obviously fallback color is also important, acrylic is composed of 3 brushes as @kikisaints  mentioned in other thread.

[2018-10-16 15:48] touseefbsb commented on #13
@mdtauk  yeah it might be tricky, that is wht I want to discuss it first here and see what the maintainer think and whether it is doable in this repo.

[2018-10-16 15:51] touseefbsb commented on #6
everyone from windows community toolkit, windows template studio and theme editor secretly is working on winui :D I just wish it can be opensource so we can be involved directly :)

[2018-10-16 16:30] kikisaints commented on #12
@mdtauk That's a good rationale for what to actually set the AcrylicBrushes' system colors too.

What @touseefbsb is referring to are these two SystemColors that the editor does not generate today:

[code]
He's suggesting that we add those as generated colors, even if they are just pulling their color values from the Region color, as you suggested.

As far as the fallback colors as concerned, they

[2018-10-16 17:13] lhak commented on #6
Yes, I can confirm that the newest winui version fixes the reported issue, so I guess it can be closed now. Unfortunately, the update seems to cause another (unrelated) styling problem, so I will open a new issue at the winui GitHub repository.

[2018-10-16 17:42] mdtauk commented on #12
@kikisaints I think if the Fluent Editor is going to be of the most use, then it should replace all the referenced colours that the controls need to be fully themed - Including the Acrylic ones.  The ColorPaletteResources code could be updated in the future to fully encompass all resources needed.

[2018-10-16 18:36] kikisaints commented on #6
@lhak sounds good! Thank you for bringing issues to our attention though! We appreciate it.

@touseefbsb There's a [repo for WinUI](https://github.com/Microsoft/microsoft-ui-xaml), be sure to go check that out!

[2018-10-16 18:37] #6 closed

[2018-10-16 18:51] touseefbsb commented on #12
yes agreed, even if 1 resource is not generated by theme editor , who knows where it might cause visual problems in the app in which control.

[2018-10-16 21:17] kikisaints commented on #12
#14 PR has been completed. The generated code should now export the necessary Acrylic and Reveal SystemColors.

[2018-10-16 21:17] #12 closed

[2018-10-16 21:27] touseefbsb commented on #12
Thanks for the quick fix @kikisaints  :)

[2018-10-16 22:01] touseefbsb opened #15 "accent color is still default in combobox selected items"
you can notice in the light theme the accent is still Blue-ish and same color is also in dark theme as well just a darker shade. This is just a preset Theme from the editor.

![image](https://user-images.githubusercontent.com/11542189/47050172-d3a82580-d1b8-11e8-932f-d52681ee2bed.png)

[2018-10-16 22:29] touseefbsb commented on #15
oh ok  thanks for clarifying.

[2018-10-16 22:29] #15 closed

[2018-10-16 22:36] touseefbsb opened #16 "NavigationView ( winui ) items not getting the hover color"
Just tried and exported the preset Forest theme into my app, and noticed that there is no hover effect, ( when I hover on the navigationviewitem there is no effect or color change whatsoever. Also same problem occurs with the back button of the NavigationView, but the menu toggle button gets the hover color change as expected.

In this image my pointer is actually on Library and you can see that l

[2018-10-17 20:27] kikisaints commented on #16
Does this bug repo only when using WinUI, or are you seeing this with and without?

[2018-10-17 20:35] touseefbsb commented on #16
with and without.

[2018-10-17 20:35] kikisaints commented on #13
Did you get a chance to check out the [Windows Developer Blog post](https://blogs.windows.com/buildingapps/2018/10/10/fluent-xaml-theme-editor-preview-released/) on this editor?

I describe there how you would add one of these exported themes to your app. In doing so you would create a separate ResourceDictionary page and merge that dictionary into an app scope like so:
[code]

Then you can call A

[2018-10-17 20:39] touseefbsb commented on #13
so when I re-target it through c# code, the theme can be changed at runtime?

[2018-10-18 17:57] kikisaints commented on #16
Interesting - couple of other questions then :smile: were you in low power/battery saver mode and/or do you have transparency effects on or off? That's an option in Settings>Personalization>Colors under "More Options":

![image](https://user-images.githubusercontent.com/6964369/47174084-929d3780-d2c4-11e8-8412-de2b4fcea93d.png)

[2018-10-18 18:20] touseefbsb commented on #16
@kikisaints  I am testing on a Azure VM and I can see the hover color when I dont apply theme editor resources to my app ( using default ) so I dont think that is the problem in this scenario, although VM doesnt show all settings and my app doesnt show acrylic and reveal on my 1809 VM, so I guess transparency effects might be turned off there, can you not reproduce this issue on your machine?

[2018-10-18 21:35] touseefbsb commented on #13
also @kikisaints it would b great if we can have the details of blog on the ReadMe of this repo as well, that will help developers explore all features of the editor :)

[2018-10-18 21:36] touseefbsb commented on #16
That is a possibility, yes. I am no expert on VMs turning off certain features, but it looks like you cannot reproduce the issue, which means my VM is probably the cause here. And about the contrast, the hover can be a little darker I think :)

[2018-10-19 22:26] #8 closed, assigned to nobody

[2018-10-20 00:13] rido-min opened #17 "Fluent for WPF"
Do you have any plans to produce WPF Xaml styles to for WPF apps?

[2018-10-22 18:26] xtianus79 opened #20 "this doesn't work... The instructions are a statement rather than how to use this"
please review the readme for usability

p.s.

how do you use this and what do you do with it.

[2018-10-22 19:40] kikisaints commented on #20
Can you clarify what you mean by "doesn't work"?

I'll update the readme to be clearer - in the meantime this editor simply generates code that you can use in a ResourceDictionary within XAML. If you're curious about the exact flow, you can go check out the [blog post on this tool here](https://blogs.windows.com/buildingapps/2018/10/10/fluent-xaml-theme-editor-preview-released/).

[2018-10-22 20:06] touseefbsb commented on #20
how about including some more stuff from blogpost into readme as well ?

[2018-10-22 20:35] kikisaints commented on #20
@touseefbsb You read my mind! I went ahead and added the blog post info to the readme :smile:

@xtianus79 please go check out the newest addition to the [readme file here](https://github.com/Microsoft/fluent-xaml-theme-editor/blob/master/README.md#how-to-use-the-tool) and let me know if that helps you get a better understanding of how to use the tool.

[2018-10-22 20:40] kikisaints commented on #17
I'm not as familiar with the WPF styling/resource system as I am with UWP XAML's, and in addition this tool uses an API from the latest October 2018 Update for Windows. Not something easily translated into WPF.

That being said, I will look into what having an export for WPF feature might look like.

[2018-10-22 20:53] touseefbsb commented on #20
yeah I wanted that info here for myself as well :D

[2018-10-24 19:51] #20 closed

[2018-10-26 21:01] kikisaints commented on #1
Yay! We now have Portuguese and Mandarin in the tool 😄

[2018-11-01 21:07] touseefbsb opened #22 "make RegionColor automatic"
**Lastly, don’t forget to set the background color of your page to the RegionColor that you picked for your theme. It’s the only brush that won’t get set automatically.**

above statement in ReadMe, clearly indicates that RegionColor and I guess also RegionBrush are 2 resource which do not automatically applied to the app, which makes sense because these 2 names are not in SystemResources, I wante

[2018-11-02 19:11] #16 closed

[2018-11-03 16:08] thomasclaudiushuber commented on #17
There are some key differences in WPF.

1. WPF doesn't have the `ThemeResource` Markup Extension. Means it doesn't support Dark/Light/HighContrast themes out of the box like UWP does.
2. That said, the colors in WPF don't come from a specific Theme. Instead some ControlTemplates use parts defined `SystemColors`. That class has static properties. For example `SystemColors.ControlTextBrush` contains

[2018-11-03 21:13] thomasclaudiushuber opened #23 "Bring this functionality to Blend"
The Fluent XAML Theme Editor is clearly a tool to design user interfaces.
That's why I think that its functionality should be in the tool made for designers: Blend.

Yes, I'm aware that this issue is not directly releated to the Fluent XAML Theme Editor, but I think you should talk to the Blend team to figure out how to integrate this great and fantastic functionality of this tool into Blend.

Tha

[2018-11-09 22:56] mdtauk commented on #22
To make it more automatic would require integrating it with something like Template Studio which uses the Region Colour instead of the system default brushes.

Or require a platform change where the Windows UWP team make RegionColor a thing within the system resources, and brushes that paint backgrounds be changed to use them.

For now, you just apply RegionColor as a resource to the control/page

[2018-11-13 17:46] kikisaints commented on #23
I'll reach out and see what I can do 😃

[2018-11-14 00:52] touseefbsb commented on #22
got it, thnks for the clarification :)

[2018-11-14 00:52] #22 closed

[2018-11-19 02:09] touseefbsb opened #24 "Add Acrylic material in the sample app"
In order to show the developers how they can use acrylic with their custom themes and how exactly it will look like I suggest that there must be some sample controls on the sample app on both the light and dark sides which show the acrylic according to the theme selected. This will include both the window and the element acrylic ( hos acrylic and in-app acrylic ) and will also include multiple opa

[2018-11-28 07:15] touseefbsb commented on #24
@kikisaints  any update on this?

[2018-11-29 23:36] kikisaints commented on #24
Sorry! Just recently was able to get around to working on this - I'll let you know once I've got something 😅

[2018-11-30 03:12] touseefbsb commented on #24
oh alright :)

[2018-12-05 15:03] touseefbsb opened #25 "listview in sample app has no border reveal"
in the sample app when I bring the pointer close to the listview it should show the reveal highlight on the borders, but it does not, however when I hover on the listviewitems, then I can see the reveal properly. However the issue does not exist when the theme is actually exported into a uwp app.

[2018-12-05 17:14] kikisaints commented on #25
Hmm, it might be the version of the app or your build - did you recently update, or is this something that you’ve noticed for a while?

[2018-12-05 17:17] kikisaints commented on #24
So it looks like the SystemColor that acrylic uses isn’t built into the ColorPaletteResources API, which means that the scoping functionality that the editor uses to display your live changes won’t be able to show a live updated acrylic.

I’ll look into adding this SystemColor to the ColorPaletteResources API, but at this time I don’t think I can update the editor to show acrylic. The exported the

[2018-12-05 17:31] touseefbsb commented on #25
just noticed it today, and I have the store version installed.

[2018-12-05 17:33] touseefbsb commented on #24
ahan fair enough, as far as we can get acrylic in the exported theme, that should work :)

[2018-12-11 19:30] kikisaints commented on #25
Oh! I think I know what you're experiencing. This is actually intended.

In the latest release (which you may have gotten recently) we changed listview to have a slightly different Reveal behavior than say, CommandBar does. Listview will now only show reveal when hovering over the items themselves, and will no longer have an "approach" behavior (seeing Reveal borders when near the list items).

We

[2018-12-12 06:06] touseefbsb commented on #25
by changed the controls do u mean changed them in the sdk? and gridview still has the approach reveal borders, which makes it different from listview. I am sure you considered this possibility but if you put 2px vertical margins between list view items the 2px reveal border problem might go away, even 1 px margin between 2 item might work as well, I think this change was made in commandbar as well

[2018-12-12 19:44] kikisaints commented on #24
Yes, the exported theme should affect Acrlyic - are you using the theme in conjunction with WinUI?

[2018-12-13 08:34] touseefbsb commented on #24
yes I am using theme in conjunction with WINUI. but I have not applied region color anywhere as it seemed to me all of my app was already reflecting the required theme apart from acrylic ( mainly window acrylic ) but I supposed region color doesn't effect acrylic?

[2018-12-13 08:39] touseefbsb commented on #25
I see the problem. May I suggest an optional boolean property to turn on this approach reveal on listview? ( which will be off by default to avoid the problem) and only those developer can turn it on who do not encounter the parallel listview problem in their app, because it is a very fluent and nice to have feature.
something like : '<ListView  ApproachBorderReveal="true"/>'

[2018-12-13 17:07] kikisaints commented on #24
Region color won't effect Acrylic, as it's just an abstract brush we create for you to apply to a Grid or container background of your choice.

However, could you do me a favor and try your same exported theme without WinUI? We were running into issues where WinUI was stomping over local definitions of our system resources. Curious if that's what's happening in your situation...

[2018-12-13 17:22] kikisaints commented on #25
Definitely! I can see the usefulness for that - would you mind going over to the [WinUI Repo Issues](https://github.com/Microsoft/microsoft-ui-xaml/issues) page and logging this API suggestion as a feature request? Feel free to also link back to this issue in the comments for extra context.

[2018-12-13 18:13] touseefbsb commented on #24
actually I am mainly using the NavigationView from winui library, and it is deeply implemented into the app , ( lot of front end and backend complex logic has already been wired upto the navigationview control ) so it might be really hard to test without winui right now.

[2018-12-14 09:21] touseefbsb commented on #25
Done :)

[2019-02-17 00:04] myokeeh opened #26 "Template10 Busy.SetBusy() conversion to WTS?"
I'd like to quickly convert an existing Template10 app to Windows Template Studio. One of the hangups I have is the `Busy.SetBusy()` feature in Template10. Is there a similar feature on WTS or is there a suggested approach that's close? I understand approaching the conversion this way may not be best practice.

[2019-02-17 00:06] #26 closed

[2019-03-18 06:35] doghappy commented on #13
**Great proposal.**

I really need it, but neither Community Toolkit nor Theme Editor provides a simple case. where should I go to keep up-to-date with this feature?

[2019-03-18 17:10] kikisaints commented on #13
It's not too difficult to do - although resources are originally hooked up to our dark and light themes, you can break out of that and create your own themes to switch between.

An example of how to set up your own theme can be found in the [ReadMe of this repo.](https://github.com/Microsoft/fluent-xaml-theme-editor#exporting-and-using-your-theme-in-a-uwp-app)

However, if you'd like a cleaner/mor

[2019-03-20 10:48] doghappy opened #27 "Dark/Light Accent colors not working?"
Accent Color is working, but Dark/Light Accent colors not working. it still seems to follow Windows.

[code]

![image](https://user-images.githubusercontent.com/20038914/54678713-ad5c2c80-4b40-11e9-83be-e672879c12a6.png)

[code]

[2019-03-20 10:51] doghappy opened #28 "What are the keys in primary colors?"
![image](https://user-images.githubusercontent.com/20038914/54678897-00ce7a80-4b41-11e9-80da-8ffb0f23c013.png)

[2019-03-22 17:01] groovykool opened #29 "Code behind example is problematic."
The code behind example is problematic because there is no "Dark" key in the dictionary.

Using pure XAML and setting RequestedTheme="Dark" in the page tag works fine.

Also setting this.RequestedTheme=ElementTheme.Dark; in the code behind works fine.

Can anyone explain or point to a reference for how the dark theme is actually created since the dictionary produced by the fluent-xaml-theme-editor

[2019-03-22 20:26] kikisaints commented on #29
Default and Dark are the same **dictionary**. However, setting RequestedTheme="Default" on a control or container, will instead respect whatever the system theme is (Light **or** Dark) depending.

But plopping in a:

[code]

Instead of Default will give you the same result.

I do agree it's a bit confusing, unfortunately this tool doesn't have much control over how the XAML framework itself has se

[2019-03-22 20:28] kikisaints commented on #28
I'm not sure what you mean by keys - do you mean what parts of the controls do they hook up to?

[2019-03-22 20:32] kikisaints commented on #27
Oh! Yes this is an issue - I believe it's because we have a definition of SystemAccentColor in our XAML framework, but the Light3/Dark3 etc. colors are generated by our system.

I should be make the app generate the color definitions for the alts, though. So I'll look into it.

[2019-03-22 20:50] kikisaints commented on #27
Should now be fixed by [this commit](https://github.com/Microsoft/fluent-xaml-theme-editor/commit/bf6dcd5937908efbe07df9e3f880ba6511f18f3c).
Please let me know if it's working for you and I'll close this issue out.

[2019-03-25 02:44] doghappy commented on #28
When I changed the `Primary Color`, it seems that the program automatically generates other colors based on `Primary Color`, I want to use these colors, but I don't know what the keys are.

[2019-03-25 03:54] doghappy commented on #27
Looking forward to update from Microsoft Store

[2019-03-25 12:57] doghappy commented on #27
@kikisaints  How to change Dark/Light Accent color in c# (ColorPaletteResources)?

[2019-03-25 16:48] kikisaints commented on #28
Oh! That's our algorithm that generates a palette. If you want to use any of those colors, you can do so by creating a color tag and plugging in any of the hex values you see provided in the palette.

For example, if you wanted to use the first color in the Light Primary palette stack, do:

[code]

Not all of the colors generated are used by the system, but we create the whole palette, so we give

[2019-03-25 19:07] kikisaints commented on #27
@doghappy it should be the Accent property on the ColorPaletteResources api:

[code]

And whether or not it's affecting dark or light theme is determined by which merged resource dictionary you put the api in.

[2019-03-26 02:22] #28 closed

[2019-03-26 02:31] doghappy commented on #27
@kikisaints I mean I want to change the theme color at runtime, but `ColorPaletteResources` class does not provide properties or methods such as modify `SystemAccentColorLight1`, `SystemAccentColorDark2` etc.

for example:

[code]

`FindColorPaletteResourcesForTheme()` and `ReloadPageTheme()` from the README.

[2019-03-26 17:16] kikisaints commented on #27
So due to the fact that the Light1,2,3 Dark1,2,3 are being overwritten in the generated code, you'll have to manually set them:

[code]

As far as know *what* color to set them in order to get the right shades, you'll have to just run your new accent color through the Theme Editor and select the values you want.

For instance, if you want your new accent color to be RGB = 111, 118, 250. Plug that

[2019-03-27 02:37] doghappy commented on #27
Nice!!!! Thank you very much

[2019-03-27 02:37] #27 closed

[2019-04-02 21:36] groovykool opened #30 "Use with Border Control"
The Border control does not follow the theme.  If I set
BorderBrush="{ThemeResource ComboBoxBorderThemeBrush}"
I get light and dark colors but they don't match the Combo Box Border colors?

What is the best way to apply the theme to a Border?

[2019-10-16 15:15] kmgallahan opened #32 "Color picker breaks when using certain system scaling percentages."
The color picker(s) behave very erratically / incorrectly when system scaling is set to 125%, 175%, 225%, and probably some other uneven values.

The WinUI color picker doesn't exhibit this behavior in the XAML Controls Gallery, so I'm not sure if the issue is related to it being housed in a popup / flyout / overlay or something else.

[2019-10-18 17:12] #29 closed

[2019-10-18 17:13] kikisaints commented on #30
From what I can tell the border is being applied with the theme... can you be more specific about what you're seeing that's incorrect?

[2019-10-18 17:14] kikisaints commented on #32
I think this might be a WinUI issue... we had an issue like this in the past. Have you logged an issue over on the [WinUI Repo](https://github.com/Microsoft/microsoft-ui-xaml)?

[2019-10-18 17:25] kmgallahan commented on #32
Not yet as I wasn't sure how to repro the issue outside of this app.

Like I said, it works fine in the Gallery app, so not sure if the behavior is related to the specific way it is being presented in this app or not. Also unsure about the version being used.

Was hoping the maintainer(s) here could share some incite first, but I could just go ahead and open a WinUI ticket and link this issue if y

[2019-10-20 14:05] kikisaints commented on #32
I'm the only maintainer of the repo, so I'll look into what might be causing it 😅

[2019-10-21 16:06] kikisaints commented on #32
@kmgallahan so I tested the colorpicker at different scaling and I'm not seeing an issue... however I know there was an older issue logged on WinUI about ColorPicker scaling.

Could you clarify more about the erratic behavior you're seeing? Additionally, I will be pushing an updated winUI package for this app, so it could be a bug from an older version.

[2019-10-21 16:35] kmgallahan commented on #32
First two screenshots show the picker at 125% scaling. Bugs:

- The color picker background is gone/transparent
- The selected color indicator appears in different places from where the cursor actual is (always appearing in the box, but nearly random locations)

*Note I made a red mark in the screenshots to indicate the cursor position since the screen cap didn't grab it

![Annotation 2019-10-21 1

[2019-10-22 10:58] kmgallahan commented on #32
Just had a though - it may be related to the use of an acrylic background under the control. The composition engine would then be doing _something_ different here, compared to most other instances of this control.

Nope. Just turned off transparency effects and it made no difference.

[2019-11-14 14:02] mdtauk opened #33 "Date Picker not rendering with correct default colours"
![image](https://user-images.githubusercontent.com/7389110/68863376-279c7b00-06e7-11ea-99d5-6679388f86eb.png)

On the left is how the Date Picker flyout is rendered in the XAML Controls Gallery app - specifically the Acrylic colour and the top and bottom scroll indicator buttons.

On the right is how it appears in the Fluent Theme Editor - Shape Font Customisation branch

[2019-11-14 23:16] kikisaints commented on #33
Thanks for trying out the new branch!

I'm still attempting to figure out how to map the color algorithm to the correct acrylic brush - It's still not right, thanks for logging!

[2019-11-24 21:49] hansmbakker opened #34 "Does not start properly"
The Fluent Xaml theme editor does not get past the SplashScreen.

It simply hangs - no error, no other change.

Installed via Microsoft Store on Windows Insider build 19025.1.

[2019-12-02 17:26] kikisaints commented on #34
Were you on my branch or master?

[2019-12-02 17:47] kikisaints commented on #33
Still working on the flippers, but I believe the BG is fixed as of [this commit](https://github.com/microsoft/fluent-xaml-theme-editor/pull/35/commits/168951cc35f9b10dda63368b46c582627098cd7b) to the shape addition branch.

[2019-12-02 18:49] hansmbakker commented on #34
Installed from the Microsoft store, so I did not build it from source.

There is somebody else who had the same issue and put it as a review in the store.

[2019-12-02 20:18] kikisaints commented on #34
Hmm, I'm not seeing that review, which is troubling...

As a side note, have you pulled from master on this repo and tested the app? If that's working for you, but the store one isn't I should probably push an update to the store sooner than planned to fix that.

[2019-12-02 20:24] kikisaints commented on #32
Sorry for the delay on this!

Looks like the issue you're running into is a spotty one - meaning we cannot reliably test it on our machines and have only seen it on a select few builds. Additionally, repos have been on the control or test apps, not just localized to this app necessarily, although it is weird that you don't see it in the gallery.

I have let @jevansaks know, but as it goes right no

[2019-12-02 20:44] hansmbakker commented on #34
The review is probably in the Dutch part of the store? See below:
![image](https://user-images.githubusercontent.com/3463496/69993791-d399ef00-154c-11ea-90f1-8b7317124d02.png)

The master branch works fine for me!

[2019-12-02 21:50] kikisaints commented on #34
Thanks! It's probably due to being in a different language that I cannot see it...

That being said - good to know the repo works for you! I'm going to be updating the app soon with the same version as on here. Hopefully it'll fix the store issue too.

[2019-12-04 12:25] hansmbakker commented on #34
Yes I understand, thanks for picking this up!

BTW I assumed that app publishers would be able to see all reviews for their application?

[2019-12-07 00:31] kikisaints commented on #34
We can, I'm just new the app publishing arena, so I wasn't sure where I could do that. I've figured it out since 😄

[2019-12-07 16:19] MartinZikmund commented on #11
I have hit this problem with the `ContentDialog` - after using Fluent XAML Theme Editor-generated theme, all dialogs have a solid black or solid white background (depending on the theme), instead of semi-transparent one. At least in this particular case the transparency is quite vital.

[2019-12-09 21:35] kikisaints commented on #33
@mdtauk - I believe I fixed this in the most recent PR. When you get the chance, please confirm. 😄

[2019-12-09 21:35] kikisaints commented on #24
Completed as of the most recent PR.

[2019-12-09 21:35] #24 closed

[2019-12-11 06:53] mdtauk commented on #33
Not quite right yet I think.  In the Light Theme, the flipper buttons seem too bright

![image](https://user-images.githubusercontent.com/7389110/70598526-f24e5480-1be2-11ea-9ea4-f972f5a245a4.png)

[2019-12-12 17:30] kmgallahan commented on #32
Closing as the behavior no longer occurs in the latest release.

[2019-12-12 17:30] #32 closed

[2019-12-24 16:19] FJduFou commented on #34
hey, before and after the last update, the app don't work after the splash screen ...
my pc: win 10 home, v.1903 and the latest updates, localization: french ...
installed in the Store ...

if this help you ...

[2020-01-04 20:10] kikisaints commented on #34
@FJduFou Thank you for following up!

Sorry you're still running into this - I'll attempt to connect with someone on the store team about this as the app appears to run just fine when not installed from the store...

[2020-01-04 20:20] kikisaints commented on #11
Yikes! Thanks for point this out, I'll go and see what's up with applied generated themes.

[2020-01-04 21:21] FJduFou commented on #34
Yes, I alway have this problem

[2020-01-09 16:56] kikisaints commented on #34
Wanted to keep you updated @fjdufou - still working on trying to locate this failure. It appears to be a XAML issue with failing to load when localization files are involved. I'm attempting to try and get a repo on my machine so I can get a dump on where it's having issues.

Thank you for your patience!

[2020-01-09 19:54] FJduFou commented on #34
If this help you: my W10 is in French ...

[2020-01-09 20:17] kikisaints commented on #34
I've set it French (France) and I am not able to reproduce the issue - do you have more specifics about the French mode you're in? As in French (Guinea) or French (French Polynesia)?

[2020-01-09 20:31] FJduFou commented on #34
fr-fr, not region ...
i'm download from the store, the latest version, i have verify and i don't have more updates ...

[2020-01-10 18:11] kikisaints commented on #34
Hey @fjdufou - since I'm still not able to repo this - would you be interested in following some short steps I'll walk you through that creates a dump file and attaching it here as a zip? That way I can take a look at the source of your failure directly from where you can repo it.

If you can, please follow these steps:

- Launch the fluent theme editor
- Open task manager and click the "More Deta

[2020-01-10 19:26] FJduFou commented on #34
@kikisaints The file is too big for upload this in the comment, but I have add in my OneDrive, the link is this:
[https://1drv.ms/u/s!AuacpD9VeMSygaldc4a-DT2AUJDHrA?e=2Qonmc](DesignLab)

[2020-01-27 22:51] FJduFou commented on #34
@kikisaints do you have news ?

[2020-01-28 11:25] harvinders opened #36 "Is it possible to build and run it on 1803?"
What changes would I need to do to run it on 1803?

[2020-02-03 06:29] harvinders opened #37 "Can't find latest fluent xaml editor (as shown in the tweet recently) on microsoft store"
The new editor is shown here at https://twitter.com/WindowsUI/status/1212483698131472384?s=20. But it seems, at least in australia, it is not available in microsoft store.

[2020-02-18 20:53] kikisaints commented on #37
The store has been having some issue with my app - I'm still trying to figure out why it's not launching for some people who are not in the US. It appears it doesn't show for others who are outside the states as well.

Thank you for logging, I'll look into it as soon as I can!

[2020-03-01 21:41] mklemarczyk commented on #34
Works from France on Windows 10 1909. Can I do anything to help with the project?

[2020-03-01 22:49] FJduFou commented on #34
Don't works from France on Windows 10 1909.
^^

[2020-03-06 18:40] kikisaints commented on #34
Hi @FJduFou it's looking like this might be a Store issue that I'm still trying to track down. Unfortunately this cannot be replicated even with a clean machine set to the French region. MS is also under a "work from home quarantine" right now, so I might not be able to spend cycles on this until a little while.

In the meantime - does cloning the repo and running the app work for you? If not mayb

[2020-03-13 15:47] touseefbsb opened #38 "ComboBox header not visible with some style editing"
So I made a custom combo box style where the border wraps around the header as well as combobox content itself., it was working fine as expected and header was showing up fine, but then I opened "Fluent xaml theme editor" (uwp theme generator from store) and left it on default and exported the theme into my "app.xaml" and now header has disappeared. Below is the link to reproduce the issue, just o

[2020-03-16 11:58] touseefbsb commented on #38
on further investigation I found out that removing "AltMediumLow" from colorpelleteResources tag fixes the issue but that very odd because that shouldnt be removed as it is part of the default generated theme by fluent theme editor.

![image](https://user-images.githubusercontent.com/11542189/76756355-5450c400-67a7-11ea-8473-ed42cd627064.png)

[2020-03-19 01:45] yinyue200 commented on #34
@kikisaints it's works in debug mode

[2020-03-25 13:51] FJduFou commented on #34
yes! I'm not only.

[2020-05-10 09:58] cirrusone opened #40 "Theme 'colours' not applied to all controls"
I've been testing the Fluent XAML Theme Editor and changed a few colours for the dark theme, as you can see some controls don't inherit the theme colours, the combobox, textbox and datepicker amongst others are black rather than a theme colour.

It's not really viable to use as a theme editor if each control has to be themed individually. Is this a bug and/or will it be fixed in final version?

![

[2020-05-10 10:19] mdtauk commented on #40
I believe due to the way Xaml works, you wont see it in the flyouts that are in the app, but when applied to your app's UI it will work

[2020-05-10 16:53] cirrusone commented on #40
Thanks.

Just had a look through some previous closed comments and it looks like it is possible but a decision was taken to not apply to some panels as it affects the actual designer app itself. Could we have a checkbox that allows us to see the actual theme? Even on a timer to revert back if it means losing track of checkbox. It's a lot more hassle importing to an actual project just to see what

[2020-05-13 17:06] rahulkps23 commented on #13
This was not answered. Can anyone give clarity about this?

[2020-05-21 12:33] Poopooracoocoo commented on #37
@kikisaints hey would you mind updating the winui version?

[2020-05-24 04:47] nickspurry opened #41 "Does Not Go Past Splash Screen"
When opened, Fluent XAML Theme Editor does not progress past the initial blue screen with the app logo in the center. App was obtained from Microsoft Store.

App is running on Windows 10 1909. System language is set to French.

[2020-05-24 08:26] hansmbakker commented on #41
Duplicate of #34

[2020-05-25 16:58] rahulkps23 commented on #36
Any update on this. It would be more helpful if we are able build and run it on 1703 onwards. I guess we can use conditional xaml and achieve this.
Just any feature like corner radius is not working we can use conditional xaml and show it if the app is running on the desired os or else we will not show it.

It will be very helpful if we are provided with support from 1703 OS version onwards @kikis

[2020-05-27 08:20] rahulkps23 opened #42 "licensing related, can we include this with our UWP app which we are selling"
We are developing and selling a UWP app for our client as per his requirement. He wants to change the theme easily, so found this theme changing functionality of 'fluent-xaml-theme-editor' interesting.

Can we bundle this along with our uwp app and sell (or) is this any license related issue?

Can anyone give clarity.

@kikisaints

[2020-05-27 12:59] mrlacey commented on #42
IANAL, but, as per [the license](https://github.com/microsoft/fluent-xaml-theme-editor/blob/master/LICENSE), yes.

[2020-05-28 16:06] danwalmsley opened #43 "I think the Generated Accent Colours are coming out the wrong way around"
So if you use:
#7f7f7f as your accent colour...

it generates:
[code]

If I am not mistakend. the light colors are getting darker, and the dark colors are getting lighter?

And it should be the other way around?

[2020-06-03 17:47] JingeOnline opened #44 "This app can not launch both on my pc and tablet anymore."
I download this app from Microsoft Store.
In this week, I find the app can not launch anymore, either on pc or tablet, just stuck in the Logo page.
![image](https://user-images.githubusercontent.com/42198086/83669708-580d1d80-a615-11ea-91d2-305586d1f43e.png)
It used to be work well. I don't know the reason.

My Pc OS version: 19041.264
My Tablet OS version: 18363.836

If you need more information,

[2020-06-04 18:03] kikisaints commented on #42
Yes, technically you can.

[2020-06-04 18:03] #42 closed

[2020-06-04 18:05] kikisaints commented on #44
Hey! I'm sorry you ran into this, I keep trying to track this bug down but I'm at a loss as to what's causing it. I think it's a localization error but I cannot get it to repro.

[2020-06-04 18:06] kikisaints commented on #41
French was the first localization error to find this, however I cannot track down the root cause of it. Closing because of dupe, however. I am sorry you're running into this...

[2020-06-04 18:06] #41 closed

[2020-06-04 18:08] kikisaints commented on #38
The 'default' theme that the editor generates is a recreation of our default theme from generic.xaml. It looks like it's miss-generating some pieces. I'll look into it.

[2020-06-04 18:58] JingeOnline commented on #44
Yes, you are right. I followed your guide and change the system language to "English". The app work again.
Then I turn it back to "中文（chinese simplified）". It stilll stuck in loge page.
Anyway, thanks for your help, I can use this app now. And hope you find the bug soon.

[2020-06-12 14:47] wbokkers commented on #11
I have the same issue with flyouts when using the LightDismissOverlayMode.

[2020-06-25 10:58] massijay commented on #44
I have this problem too with store version, works fine if I compile it from this repo.
My system language is italian.
I noticed that store version has a greater version number than this repo's, maybe this repo is not updated with latest code?

[2020-08-14 12:09] under3415 opened #45 "Windows Accent Color Coming Through"
If I change the Windows 10 accent color, I can see this color (lime) come through instead of in app selected accent color (blue) in some case (e.g. mouse hover over check box). See image.
![accentColor](https://user-images.githubusercontent.com/3857822/90247863-99c70980-de8b-11ea-820f-90062f337adf.PNG)

[2020-08-29 02:54] under3415 opened #46 "When coleor theme is used, ContentDialog covers the whole page"
Steps to replicate:
1.     Create new UWP app
2.     Grab a color scheme from Fluent XAML Theme Editor and add it to your project
3.     In App.Xaml add this:

     <Application.Resources>
      <ResourceDictionary>
       <ResourceDictionary.MergedDictionaries>
           <ResourceDictionary Source="Dictionary1.xaml"/>
      </ResourceDictionary.MergedDictionaries>
     </ResourceDictionary>

[2020-08-29 05:10] under3415 commented on #45
Found that in my app this had to do with merging resources.

When I had this in app.xaml (for WinUI controls)

    <Application.Resources>
                            <XamlControlsResources xmlns="using:Microsoft.UI.Xaml.Controls" />
    </Application.Resources>

and this in Page resources
 <Page.Resources>
            <ResourceDictionary>
                <ResourceDictionary.MergedDictionaries>

[2020-08-30 04:00] under3415 commented on #46
You need to add this to your theme to fix the ContentDialog issue

[code]

[2020-10-02 14:07] jolleekin commented on #43
I assume the order is reversed for the dark theme.

[2020-10-02 14:36] jolleekin opened #47 "List accent colors are missing"
The exported XML doesn't contain `ListAccent*` colors.
See https://docs.microsoft.com/en-us/windows/uwp/design/style/color#theme-brushes

[2020-10-02 14:50] jolleekin opened #48 "All Alt colors are the same"
[code]

[2020-10-25 02:59] nickspurry commented on #34
I can confirm that with the app installed from Microsoft Store, the app works without issue when the Windows display language is set to English (Australia) and does not progress past the splash screen with the Windows display language set to French (France), with all other settings remaining the same.

[2021-02-18 17:18] MichaelBakker commented on #34
Still same problem. Setting Windows display language to english (i used en-GB) is only way to get the app past the splash screen (on Windows 10.0.19042) when downloaded from the app store.
More issues:

- the app crashes when you are foolish enough to try to input .5 as a value for border width,
- you can't modify system accent colors (but they are exported); only base, alt and primary
- font edit

[2021-02-21 21:17] Blackout8099 commented on #11
Was this ever resolved?

[2021-04-01 08:46] loics2 commented on #44
Same, with system language set tot french and works great when compiled from source.

[2021-04-10 20:01] LuanVSO commented on #44
same here, system language is set to Portuguese (brasilian)

[2021-11-06 03:48] BenjaminGroseclose opened #50 "Nighttime Export has missing references on default export"
When exporting the default theme `RevealBackgroundSource` element is not found, as well as `BackgroundSource` property on the `AcrylicBrush` element is not found.

Environment:

[code]

[2021-12-06 21:06] sos34211 opened #51 "ا"

[2022-02-01 11:42] jfranki commented on #44
I just gave the app a 1 star rating in the store for this (my OS is in Spanish and it gets stuck in the splash screen).
I can't believe they haven't patched it yet, so I assume it's abandoned, in which case they should pull it from the store.

[2022-03-05 06:30] Shomnipotence opened #52 "Does not start properly"
Cannot start at all

“DesignLab.exe”(Win32): 已加载“C:\Users\Shomn\source\repos\fluent-xaml-theme-editor\FluentEditor\bin\x64\Debug\AppX\DesignLab.exe”。
“DesignLab.exe”(Win32): 已加载“C:\Windows\System32\ntdll.dll”。
“DesignLab.exe”(Win32): 已加载“C:\Windows\System32\kernel32.dll”。
“DesignLab.exe”(Win32): 已加载“C:\Windows\System32\KernelBase.dll”。
“DesignLab.exe”(Win32): 已加载“C:\Windows\System32\ucrtbase.dll”。

[2022-05-14 05:08] AkiraVoid opened #53 "Is this app abandoned?"
The last update of this repo is 2 years ago. The bug of i18n which makes this app cannot launch still remain, but it should be a bug with the highest priority that will be fixed immediately after it was found. Issues here remain no assignees. The pull request which was made in 2020 still haven't been merged or blocked. Even in Microsoft Store it has a logo with low contrast ratio and cannot be see

[2022-05-14 05:10] AkiraVoid commented on #53
@kikisaints @hansmbakker

[2022-05-18 12:17] sos34211 opened #54 "اا"

[2022-09-08 13:54] gmgallo opened #55 "It's time to update this app for WinUI3"
There are a number of new controls in WinUI 3 that are not included in this app. To make it future proof and really useful I would add this two things to the wish list:
1. Allow the user to import new controls besides the fix set of built in common controls.
2. I import actual style definitions to edit and save again
Just my two cents.

[2022-10-25 10:09] sonnemaf opened #56 "Generate the new WinUI 3 resources"
Hi,

It would be nice if this tool would generate the new WinUI 3 (and 2.8) resources which can be found in [Figma](https://www.figma.com/community/file/1159947337437047524).

Fons

[2022-11-20 18:56] jhonToni commented on #34
The Fluent Xaml theme editor does not get past the SplashScreen. I have installed the editor from the Microsoft store.